body{
    background: #f9e933;
}

header, main, footer{
    min-width: 855px;
}
header .container, main .container, footer .container{
    max-width: 855px;
    margin: auto;
}

header{
    padding: 20px;
    background: white;
    overflow: auto;
}
header .left{
    float: left;
    width: 570px;
}
header .right{
    float: right;
    width: 285px;
}

main{
    padding: 30px;
    background: white;
    overflow: auto;
}
main .left{
    float: left;
    width: 570px;
}
main .right{
    float: right;
    width: 285px;
}

footer{
    overflow: auto;
}
footer .contact{
    float: left;
    width: 570px;
}
footer .sitemap{
    float: right;
    width: 285px;
}
footer .leftUL{
    float: left;
    width: 142;
}
footer .rightUL{
    float: right;
    width: 143;
}

h1{
    font-size: 400%;
}
h2{
    padding: 0px 0px 10px 0px;
    font-size: 200%;
}
h3{
    padding: 25px 0px 15px 0px;
    font-size: 100%;
}
h4{
    padding: 20px 0px 20px 0px;
}
h1, h2, h3, h4{
    font-family: 'Ubuntu', sans-serif;
}
main ul{
    padding: 0px 0px 0px 18px;
}
main li{
    padding: 0px 0px 5px 0px;
    list-style: circle;
}
a{
    color: red;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

main .tabs a span{
    display: inline-block;
    border-radius: 5px 5px 0 0;
    width: 100px;
    margin-right: 10px;
    text-align: center;
    background: #ddd;
    padding: 5px;
}

main .tabs a span.active{
    background: #eee;
}